html, body {
  background-color: #FFFFFF;
  color: #6F627D;
  font-family: "Roboto", "Helvetica";
  padding: 0;
  margin: 0;
}

#project {
  background-color: #EEEEEE;
}

#contact {
  background-color: #EEEEEE;
  text-align: center;
}

#about-image {
  height: 500px;
  width: 500px;
}

#project-image {
  height: 400px;
  width: 500px;
}

#links {
  height: 100px;
  justify-content: space-between;
  padding-left: 15px;
}

#links:hover > *{
  opacity: 1;
  text-decoration: none;
}

#links a {
  color: #000000;
  cursor: pointer;
}

#links span {
  opacity: .5;
}

#links span a {
  text-decoration: none;
}

#links span a:hover {
  text-decoration: underline;
}

#links span i {
  opacity: 0;
}

#links span.active {
  opacity: 1;
}

#links span.active i {
  opacity: 1;
}

#side-nav {
  position: fixed;
  /*top: 47%;*/
  height: 100vh;
  /*background-color: #6F627D;*/
}

.full-height {
  height: 100vh;
}

.icon {
  padding-right: 10px;
}

.flex {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 100vh;
  width: 80%;
}

.flex-center {
  justify-content: center;
  align-self: center;
}

.flex-section {
  display: flex;
  justify-content: center;
}

.description {
  margin-left: 20px;
}

.description p {
  line-height: 20px;
}

.section-header {
  display: block;
  font-size: 36px;
  font-weight: bold;
}

.section-date {
  display: block;
  font-size: 14px;
  margin-top: 10px;
}

.thumbnail {
  margin-top: 30px;
}

.thumbnail img {
  width: 80px;
  height: 80px;
}

.thumbnail a.active {
  opacity: 1;
}

.thumbnail a {
  opacity: .5;
}

.thumbnail a:hover {
  opacity: 1;
}

.thumbnail a{
  cursor: pointer;
}
