/*
 * Holds global CSS, think of application.css from rails
 */
$font-family: "Slabo 27px", "Roboto", "Helvetica";

$background-color: #FFFFFF;
$header-link-color: #000000;
$default-color: #000000;

$tag-default-border: 1px solid #949494;
$tag-default-fill: #ADADAD;
$tag-default-color: #FFFFFF;
$tag-default-border-radius: 10px;
$tag-default-padding: 16px;

$tag-link-fill-1: #1CAD6A;
$tag-link-fill-2: #1CA7AD;
$tag-link-fill-3: #AD1C1C;
$tag-link-border-1: 1px solid #18955B;
$tag-link-border-2: 1px solid #189095;
$tag-link-border-3: 1px solid #951818;

$padding: 10px;
$light-border: #757575;

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  background-color: $background-color;
  color: $default-color;
  font-family: $font-family;
  padding: 0;
  margin: 0;
}

#container {
  width: 100%;
  height: 100vh;
}

#nav-container {
  display: flex;
  height: 10%;
  width: 100%;
  color: $header-link-color;
  border-bottom: 1px solid #000000;
  padding: $padding;

  flex-direction: row;
  justify-content: space-between;

  img {
    height: 100%;
    width: auto;
  }

  a {
    color: $header-link-color;
    text-decoration: none;
    align-self: center;

    &:hover {
      border-bottom: 3px solid $light-border;
    }

    &:active {
      color: $light-border;
      border-bottom: 3px solid #000000;
    }

    &.active {
      border-bottom: 3px solid #000000;
    }

    span {
      padding: $padding;
    }
  } // a
} // #nav-container

.tag-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  text-align: center;

  a {
    &.link {
      text-decoration: none;
    }
  }

  .tag {
    background-color: $tag-default-fill;
    border: $tag-default-border;
    border-radius: $tag-default-border-radius;
    color: $tag-default-color;
    padding: $tag-default-padding;
  }

  .link {
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 32px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 32px -5px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 32px -5px rgba(0,0,0,0.75);
  }

  .link-1 {
    background-color: $tag-link-fill-1;
    border: $tag-link-border-1;
  }

  .link-2 {
    background-color: $tag-link-fill-2;
    border: $tag-link-border-2;
  }

  .link-3 {
    background-color: $tag-link-fill-3;
    border: $tag-link-border-3;
  }
}


.text-small {
  font-size: 32px;
}

.text-medium {
  font-size: 40px;
}

.text-large {
  font-size: 48px;
}

.text-xlarge {
  font-size: 64px;
}

// http://stackoverflow.com/questions/826782/how-to-disable-text-selection-highlighting-using-css
.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
