$project-border: 3px solid #949494;
$project-fill: #FFFFFF;
$border-radius: 10px;
$space: 32px;

$title-color: #FFFFFF;
$title-fill: #757575;

$sub-title-color: #000000;

#content {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: $space;

  & > * {
    margin-top: $space;
    width: 90%;
    align-self: center;
    justify-content: center;
  }

  .tag-container {
    margin-top: 0 !important;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-left: -10px;
    @media screen and (min-width: 640px) and (orientation: landscape) {
      margin-left: -2px;
    }

    .tag {
      margin: 10px;
      @media screen and (min-width: 640px) and (orientation: landscape) {
        margin: 2px;
      }

      &.link:not(:first-child) {
        @media screen and (min-width: 640px) and (orientation: landscape) {
          margin-left: 10px;
        }
      }
    }
  }
}

.project {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  width: 90%;
  height: 620px;
  text-decoration: none;
  border: $project-border;
  background-color: $project-fill;
  border-radius: $border-radius;
  -webkit-box-shadow: 0px 0px 32px -7px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 32px -7px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 32px -7px rgba(0,0,0,0.75);

  .title {
    color: $title-color;
    width: 100%;
    text-align: center;
    align-self: center;
    background-color: $title-fill;
  }

  .sub-title {
    color: $sub-title-color;
    width: 100%;
    text-align: center;
    align-self: center;
  }

  &:active {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }

  &.selected {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }

  &:active > .title {
    font-size: 100px;
    background-color: $title-fill;
  }
}
