h1 {
  font-size: 64px;
}

.year {
  font-weight: bold;
}

.background {
  background-color: #eeeeee;
  border-radius: 8px;
  padding-bottom: 3em;
}

.picture {
  background-color: white;
  border: 1px solid #dddddd;
  padding: 0 4px 1em 4px;
  border-radius: 5px;
}

.picture p {
  margin: 10px 0 0 0;
}

.timeline {
  margin-top: 2em;
}

.col-centered {
  float: none;
  margin: 0 auto;
}
