h1 {
  font-size: 64px;
}

.year {
  font-weight: bold;
}

.background {
  background-color: #eeeeee;
  border-radius: 8px;
}

.picture {
  background-color: white;
  padding: 0px 8px 16px 8px;
}

.picture p {
  margin: 10px 0 0 0;
}

.timeline {
  margin-top: 2em;
}
