/*div {
  border: 1px solid red !important;
}*/
a {
  cursor: pointer;
}
#time-keeper-form {
  /*border: 1px solid red !important;*/
}

#choices {
  border: 1px solid black !important;
  padding: 0;
  max-height:200px;
  overflow-x: auto;
}

#new-job {

  margin: 15px 0 15px 0;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.flex-vertical-center {
  align-self: center;
}

form > div {
  margin-top: 1em;
}

.no-padding {
  padding: 0;
}


/* Table CSS */
.table-choice {
  width: 100%;
}

.table-choice tr:nth-child(even) {
  background-color: #eeeeee;
}

.table-choice td {
  padding-left: 15px;
}

.clickable-row {
  cursor: pointer;
}

.clickable-row.active {
  background-color: #9bb8ff !important;
}
/* End Table */
